.headerPart{
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 80vw;
    margin-left: none;
}

.headerBackground{
    height: 19vh;
    background-image: url(../../Assert/header_background.png);
    background-size: cover;
    border-radius: 25px;
    border: 1px solid #F8C879;
    background-repeat: no-repeat;
}

#gover_logo{
    height: 13vh;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}

#state_logo{
    height:13vh;
    width: auto;
}

.title_container{
    margin-right: 10vw;
}

h1{
    font-family: "Pirouette LT Std";
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 80px;
    margin: 0px;
    color: black;
    text-shadow: 2px 2px 5px #afafaf;
    height: 75px;
}

h6{
    font-family: 'Inria Serif', serif;
}

hr{
    margin: 0px;
    border-top: 3px solid #fcbf6f;
}

@media only screen and (max-width: 900px) {
    #gover_logo{
        display: none;
    }
    
    #state_logo{
        display: none;
    }
}