.container{
    height: fix; 
    background-color:#E8E8E8; 
    padding:2%; 
    border-radius: 10px;
    margin-top: 10px;
}

input{
    height: 20px;
    border-radius: 5px;
    border: 1px;
    border-style: solid;
}

label{
    size: 18px;
    margin-left: 30px;
}